html{
    scroll-behavior: smooth;
    background-color:#3e7cb1 ;    
}

/* colors */
/* black: #000000 */
/* ghost white: #f2f4ff */
/* steel blue: #3e7cb1 */

nav{
    background-color: #f2f4ff ;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    width: 20%;
}

li{
    list-style: none;
}

#title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}